<div class="middle-box text-center loginscreen animated fadeInDown" style="margin-top: 0" *ngIf="registerComplete">
    <div>
        <div>
            <h1 class="logo-name">APC</h1>
        </div>
        <h3>Grabiti procesul!</h3>
        <p>Scanati codul QR de mai jos</p>
        <p>Si introduceti-va datele personale</p>
    </div>
</div>

<div class="middle-box text-center loginscreen animated fadeInDown" style="margin-top: 0" *ngIf="!registerComplete">
    <div>
        <div>
            <h1 class="logo-name">APC</h1>
        </div>
        <div>
            <h3>Date student</h3>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Prenume" [(ngModel)]="registeringStudent.firstName">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Nume" [(ngModel)]="registeringStudent.lastName">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="CNP" [(ngModel)]="registeringStudent.cnp">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Serie" [(ngModel)]="registeringStudent.serie">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Numar CI" [(ngModel)]="registeringStudent.nrBuletin">
            </div>
            <div class="form-group">
                <select class="form-control" [(ngModel)]="registeringStudent.faculty">
                    <option value="Automatica si Calculatoare" selected="selected">Automatica si Calculatoare</option>
                    <option value="Arhitectura si Urbanism">Arhitectura si Urbanism</option>
                    <option value="Inginerie Electrica">Inginerie Electrica</option>
                    <option value="Electrotehnica si Telecomunicatii">ETTI</option>
                    <option value="Constructii">Constructii</option>
                </select>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Specializare" [(ngModel)]="registeringStudent.specialisation">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="An" [(ngModel)]="registeringStudent.year">
            </div>
            <p>Data nasterii</p>
            <div class="form-group">
                <input type="date" class="form-control" placeholder="Data nasterii" [(ngModel)]="registeringStudent.dateofBirth">
            </div>

        </div>
        <div>
            <h3>Adresa</h3>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Tara" [(ngModel)]="registeringStudent.address.tara">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Judet" [(ngModel)]="registeringStudent.address.judet">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Localitate" [(ngModel)]="registeringStudent.address.localitate">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Strada" [(ngModel)]="registeringStudent.address.street">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Numar" [(ngModel)]="registeringStudent.address.number">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Bloc" [(ngModel)]="registeringStudent.address.bloc">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Scara" [(ngModel)]="registeringStudent.address.scara">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Apartament" [(ngModel)]="registeringStudent.address.apartament">
            </div>
        </div>

        <div>
            <h3>Date contact</h3>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Telefon" [(ngModel)]="registeringStudent.phone">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="E-mail" [(ngModel)]="registeringStudent.email">
            </div>
        </div>
        <!--<div>
            <h3>Documente</h3>
            <div class="form-group">
                <div>
                    <label for="uploadFile" class="col-md-12 btn  btn-info">Selecteaza documente</label>
                    <input type="file" id="uploadFile" class="form-control" hidden style="display: none;" multiple (change)="onFileInputChange($event)"/>
                </div>
            </div>
            <button class="btn btn-primary" (click)="confirmFiles()">confirm</button>
            <br/><br/>
        </div>-->
    </div>
    <button type="submit" class="btn btn-primary block full-width m-b" [disabled]="isSubmitting" (click)="registerStudent()">Register</button>
</div>
