<div class="col-md-12 animated fadeInLeft">
    <div class="row">
        <div class="col-md-12 ibox-title">
            <h1 style="text-align:center">Adauga caz special</h1>
        </div>
        <div class="col-md-12 ibox-content">
            <div class="col-md-4 col-md-offset-4">
                <select class="form-control" [(ngModel)]="selectedSpecialCase" (ngModelChange)="selectSpecialCase($event)">
                    <option *ngFor="let specialCase of specialCases" [ngValue]="specialCase">{{specialCase.name}}</option>
                </select>
            </div>
            <h2 class="row col-md-offset-4 col-md-4 text-center" *ngIf="selectedSpecialCase.discount">Reducere {{selectedSpecialCase.discount.value}}%</h2>
            <div class="col-md-12 ibox-footer">
                <button class="col-md-4 col-md-offset-4 btn btn-primary" (click)="addSpecialCase(selectedSpecialCase)">Adauga caz special</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 ibox-title">
            <h1 style="text-align:center">Finalizare cazare</h1>
        </div>
        <div class="col-md-12 ibox-content">
            <div class="col-md-offset-4 col-md-4">
                <button class="col-md-12 btn btn-primary" (click)="generateContract()">Genereaza contract</button>
                
            </div>
            <br/><br/><br/>
        </div>
    </div>
</div>
