<app>
    <div class="center-vertically" style="margin: 100px 0 0 0">
        <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
    </div>
    <h3 class="text-center" style="margin: 20px 0 0 0; color:white;">Loading app...</h3>
</app>